In [105]:
from IPython.display import IFrame
IFrame("https://me.zemingzhang.com/CSE574LECC-Intro-Machine-Learning/Bonus%201/spring23_ML_Classification.html", width=920, height=800)

In [106]:
# Show the first 10 rows in dataframe
import pandas as pd
df = pd.read_csv("https://data.buffalony.gov/resource/n4ni-uuec.csv")
df

,editing,botanical_name,common_name,dbh,total_yearly_eco_benefits,stormwater_benefits,stormwater_gallons_saved,greenhouse_co2_benefits,co2_avoided_in_lbs,co2_sequestered_in_lbs,...,address,street,side,site,council_district,park_name,latitude,longitude,site_id,geocoded_column
0,Buffalo,VACANT,VACANT,0,0.00,0.00,0.00,0.00,0.00,0.00,...,2210,Main St,Front,2,Delaware,0,42.930148,-78.849097,108498,"(42.9301477537, -78.8490973198)"
1,Buffalo,VACANT,VACANT,0,0.00,0.00,0.00,0.00,0.00,0.00,...,44,Crestwood Av,Front,1,Delaware,0,42.945806,-78.860697,57728,"(42.9458055166926, -78.8606970356153)"
2,Buffalo,VACANT,VACANT,0,0.00,0.00,0.00,0.00,0.00,0.00,...,50,Clarendon Pl,Front,1,Delaware,0,42.927406,-78.870423,64524,"(42.9274055741105, -78.8704228075351)"
3,Buffalo,VACANT,VACANT,0,0.00,0.00,0.00,0.00,0.00,0.00,...,2156,Main St,Front,1,Delaware,0,42.929026,-78.850298,32728,"(42.9290259437, -78.8502975173814)"
4,Buffalo,VACANT,VACANT,0,0.00,0.00,0.00,0.00,0.00,0.00,...,406,Colvin Av,Front,1,Delaware,0,42.951997,-78.859059,63487,"(42.9519968617, -78.8590593451)"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
995,Buffalo,Ulmus x spp. 'New Horizon',New Horizon Elm,2,62.17,1.07,133.51,0.10,18.84,13.02,...,61,Brantford Pl,Front,1,Delaware,0,42.924084,-78.873839,50082,"(42.9240841946913, -78.8738387420234)"
996,Buffalo,VACANT,VACANT,0,0.00,0.00,0.00,0.00,0.00,0.00,...,101,Treehaven Rd,Side,1,University,0,42.948626,-78.799542,76875,"(42.9486256494692, -78.7995418659326)"
997,Buffalo,TILIA CORDATA,"LINDEN, LITTLELEAF",20,126.42,13.08,1635.49,0.98,268.76,138.26,...,501,Lisbon Av,Front,1,University,0,42.946611,-78.809766,76101,"(42.9466111004, -78.8097663939)"
998,Buffalo,PLATANUS X ACERIFOLIA 'BLOODGOOD',"LONDON PLANETREE, BLOODGOOD",2,31.63,0.62,77.57,0.05,12.62,5.12,...,33,Montrose Av,Front,1,University,0,42.955066,-78.826279,68718,"(42.9550663827064, -78.8262789563543)"
999,Buffalo,VACANT,VACANT,0,0.00,0.00,0.00,0.00,0.00,0.00,...,12,North Park Av,Front,1,Delaware,0,42.944948,-78.856039,57558,"(42.9449482770982, -78.8560394967957)"

In [107]:
import numpy as np
# Replace the values "VACANT" and 0 with NaN
df = df.replace("VACANT", np.nan)
df = df.replace(0, np.nan)
df = df.replace("0", np.nan)
df

,editing,botanical_name,common_name,dbh,total_yearly_eco_benefits,stormwater_benefits,stormwater_gallons_saved,greenhouse_co2_benefits,co2_avoided_in_lbs,co2_sequestered_in_lbs,...,address,street,side,site,council_district,park_name,latitude,longitude,site_id,geocoded_column
0,Buffalo,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,2210,Main St,Front,2.0,Delaware,NaN,42.930148,-78.849097,108498,"(42.9301477537, -78.8490973198)"
1,Buffalo,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,44,Crestwood Av,Front,1.0,Delaware,NaN,42.945806,-78.860697,57728,"(42.9458055166926, -78.8606970356153)"
2,Buffalo,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,50,Clarendon Pl,Front,1.0,Delaware,NaN,42.927406,-78.870423,64524,"(42.9274055741105, -78.8704228075351)"
3,Buffalo,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,2156,Main St,Front,1.0,Delaware,NaN,42.929026,-78.850298,32728,"(42.9290259437, -78.8502975173814)"
4,Buffalo,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,406,Colvin Av,Front,1.0,Delaware,NaN,42.951997,-78.859059,63487,"(42.9519968617, -78.8590593451)"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
995,Buffalo,Ulmus x spp. 'New Horizon',New Horizon Elm,2.0,62.17,1.07,133.51,0.10,18.84,13.02,...,61,Brantford Pl,Front,1.0,Delaware,NaN,42.924084,-78.873839,50082,"(42.9240841946913, -78.8738387420234)"
996,Buffalo,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,101,Treehaven Rd,Side,1.0,University,NaN,42.948626,-78.799542,76875,"(42.9486256494692, -78.7995418659326)"
997,Buffalo,TILIA CORDATA,"LINDEN, LITTLELEAF",20.0,126.42,13.08,1635.49,0.98,268.76,138.26,...,501,Lisbon Av,Front,1.0,University,NaN,42.946611,-78.809766,76101,"(42.9466111004, -78.8097663939)"
998,Buffalo,PLATANUS X ACERIFOLIA 'BLOODGOOD',"LONDON PLANETREE, BLOODGOOD",2.0,31.63,0.62,77.57,0.05,12.62,5.12,...,33,Montrose Av,Front,1.0,University,NaN,42.955066,-78.826279,68718,"(42.9550663827064, -78.8262789563543)"
999,Buffalo,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,12,North Park Av,Front,1.0,Delaware,NaN,42.944948,-78.856039,57558,"(42.9449482770982, -78.8560394967957)"

In [108]:
# Calculate the number of missing values in each column
missing_value_counts = df.isna().sum()
missing_value_counts

editing                         0
botanical_name                649
common_name                   649
dbh                           647
total_yearly_eco_benefits     682
stormwater_benefits           682
stormwater_gallons_saved      682
greenhouse_co2_benefits       694
co2_avoided_in_lbs            682
co2_sequestered_in_lbs        690
energy_benefits               682
kwh_saved                     682
therms_saved                  682
air_quality_benefits          682
pollutants_saved_in_lbs       684
property_benefits             682
leaf_surface_area_in_sq_ft    682
address                         0
street                          0
side                            5
site                            1
council_district                0
park_name                     935
latitude                        1
longitude                       1
site_id                         0
geocoded_column                 1
dtype: int64

In [109]:
# sort the missing_value_counts from most missing value in columns to least
missing_value_counts.sort_values(ascending=False, inplace=True)
# Get the header and convert to list
most_missing_value_counts = list(missing_value_counts.head(4).index)
most_missing_value_counts

['park_name',
 'greenhouse_co2_benefits',
 'co2_sequestered_in_lbs',
 'pollutants_saved_in_lbs']

In [110]:
# Delete the column named in most_missing_value_counts list 
for i in most_missing_value_counts:
  df.drop([i], axis=1, inplace=True)
df

,editing,botanical_name,common_name,dbh,total_yearly_eco_benefits,stormwater_benefits,stormwater_gallons_saved,co2_avoided_in_lbs,energy_benefits,kwh_saved,...,leaf_surface_area_in_sq_ft,address,street,side,site,council_district,latitude,longitude,site_id,geocoded_column
0,Buffalo,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,2210,Main St,Front,2.0,Delaware,42.930148,-78.849097,108498,"(42.9301477537, -78.8490973198)"
1,Buffalo,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,44,Crestwood Av,Front,1.0,Delaware,42.945806,-78.860697,57728,"(42.9458055166926, -78.8606970356153)"
2,Buffalo,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,50,Clarendon Pl,Front,1.0,Delaware,42.927406,-78.870423,64524,"(42.9274055741105, -78.8704228075351)"
3,Buffalo,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,2156,Main St,Front,1.0,Delaware,42.929026,-78.850298,32728,"(42.9290259437, -78.8502975173814)"
4,Buffalo,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,406,Colvin Av,Front,1.0,Delaware,42.951997,-78.859059,63487,"(42.9519968617, -78.8590593451)"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
995,Buffalo,Ulmus x spp. 'New Horizon',New Horizon Elm,2.0,62.17,1.07,133.51,18.84,4.97,6.60,...,91.95,61,Brantford Pl,Front,1.0,Delaware,42.924084,-78.873839,50082,"(42.9240841946913, -78.8738387420234)"
996,Buffalo,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,101,Treehaven Rd,Side,1.0,University,42.948626,-78.799542,76875,"(42.9486256494692, -78.7995418659326)"
997,Buffalo,TILIA CORDATA,"LINDEN, LITTLELEAF",20.0,126.42,13.08,1635.49,268.76,73.31,109.04,...,46.82,501,Lisbon Av,Front,1.0,University,42.946611,-78.809766,76101,"(42.9466111004, -78.8097663939)"
998,Buffalo,PLATANUS X ACERIFOLIA 'BLOODGOOD',"LONDON PLANETREE, BLOODGOOD",2.0,31.63,0.62,77.57,12.62,3.60,4.42,...,44.60,33,Montrose Av,Front,1.0,University,42.955066,-78.826279,68718,"(42.9550663827064, -78.8262789563543)"
999,Buffalo,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,12,North Park Av,Front,1.0,Delaware,42.944948,-78.856039,57558,"(42.9449482770982, -78.8560394967957)"

In [111]:
df.isna().sum()

editing                         0
botanical_name                649
common_name                   649
dbh                           647
total_yearly_eco_benefits     682
stormwater_benefits           682
stormwater_gallons_saved      682
co2_avoided_in_lbs            682
energy_benefits               682
kwh_saved                     682
therms_saved                  682
air_quality_benefits          682
property_benefits             682
leaf_surface_area_in_sq_ft    682
address                         0
street                          0
side                            5
site                            1
council_district                0
latitude                        1
longitude                       1
site_id                         0
geocoded_column                 1
dtype: int64

In [112]:
# Find the number of missing values in each row
missing_values_count = df.isna().sum(axis=1)
# Get the rows with missing values
rows_with_missing_values = missing_values_count[missing_values_count > 0]
rows_with_missing_values = list(rows_with_missing_values.index)
print(rows_with_missing_values)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98, 99, 100, 101, 102, 103, 104, 105, 106, 107, 108, 109, 110, 111, 112, 113, 114, 115, 116, 117, 118, 119, 120, 121, 122, 123, 124, 125, 126, 127, 128, 129, 130, 131, 132, 133, 134, 135, 136, 137, 138, 139, 140, 141, 142, 143, 144, 145, 146, 147, 148, 149, 150, 151, 152, 153, 154, 155, 156, 157, 158, 159, 160, 161, 162, 163, 164, 165, 166, 167, 168, 169, 170, 171, 172, 173, 174, 175, 176, 177, 178, 179, 180, 183, 184, 185, 186, 187, 188, 189, 190, 191, 192, 193, 194, 195, 196, 197, 198, 199, 200, 201, 202, 203, 204, 205, 206, 207, 208, 209, 210, 211, 212, 213, 214, 215, 216, 217, 218, 219, 220, 221, 222, 223, 224, 225, 226, 227, 228, 229, 230, 231, 232, 233, 235, 236, 237, 238, 239, 240, 241, 242, 243, 244, 245, 246, 247, 248, 249, 250, 251, 252, 253, 254, 255, 256, 257, 258, 259, 260, 261, 262, 263, 264, 265, 266, 267, 268, 269, 270, 271, 272, 273, 274, 275, 276, 277, 278, 279, 280, 281, 282, 283, 284, 285, 286, 287, 288, 289, 290, 291, 292, 293, 294, 295, 296, 297, 298, 299, 300, 301, 302, 303, 304, 305, 306, 307, 308, 309, 310, 311, 312, 313, 314, 315, 316, 317, 318, 319, 320, 321, 322, 323, 324, 325, 326, 327, 328, 329, 330, 331, 332, 333, 334, 335, 336, 337, 338, 339, 340, 342, 343, 344, 345, 346, 347, 348, 349, 350, 351, 352, 353, 354, 355, 356, 357, 358, 359, 360, 361, 362, 363, 364, 365, 366, 367, 368, 369, 370, 371, 372, 373, 374, 375, 376, 377, 378, 379, 380, 381, 382, 383, 384, 385, 386, 387, 388, 389, 390, 391, 392, 393, 394, 395, 396, 397, 399, 400, 402, 403, 404, 405, 406, 407, 408, 409, 410, 411, 412, 413, 414, 415, 416, 419, 420, 423, 427, 429, 431, 432, 433, 434, 435, 437, 439, 440, 441, 442, 444, 445, 446, 447, 449, 454, 455, 456, 457, 458, 460, 463, 464, 465, 468, 469, 474, 478, 479, 480, 482, 485, 487, 490, 491, 492, 493, 494, 496, 497, 500, 504, 506, 507, 508, 509, 511, 515, 516, 517, 520, 521, 528, 529, 531, 532, 533, 537, 538, 546, 547, 548, 550, 554, 556, 557, 558, 560, 562, 565, 566, 567, 568, 573, 575, 576, 578, 579, 583, 586, 589, 591, 595, 596, 597, 600, 605, 607, 609, 610, 613, 614, 615, 622, 623, 624, 631, 635, 636, 638, 640, 641, 642, 643, 645, 648, 650, 654, 657, 658, 660, 662, 663, 667, 669, 671, 674, 676, 678, 680, 681, 684, 687, 689, 690, 693, 694, 698, 702, 704, 705, 711, 712, 713, 714, 715, 716, 720, 721, 723, 724, 725, 727, 728, 729, 730, 735, 737, 739, 740, 743, 744, 746, 748, 750, 752, 756, 762, 765, 766, 767, 770, 771, 772, 774, 776, 777, 779, 781, 782, 785, 792, 793, 796, 800, 802, 803, 807, 808, 809, 811, 812, 813, 814, 818, 822, 823, 824, 825, 833, 834, 835, 837, 838, 839, 843, 845, 847, 848, 849, 852, 853, 856, 861, 863, 868, 869, 874, 875, 877, 878, 880, 882, 885, 894, 895, 899, 901, 902, 903, 906, 908, 909, 910, 911, 914, 915, 916, 918, 919, 922, 923, 924, 925, 926, 930, 936, 937, 938, 940, 941, 942, 945, 950, 951, 952, 953, 954, 955, 960, 962, 965, 966, 967, 969, 970, 972, 973, 979, 980, 982, 983, 986, 987, 991, 993, 994, 996, 999]

In [113]:
# Delete the rows with missing values from the DataFrame
df.drop(rows_with_missing_values, axis=0, inplace=True)
df

,editing,botanical_name,common_name,dbh,total_yearly_eco_benefits,stormwater_benefits,stormwater_gallons_saved,co2_avoided_in_lbs,energy_benefits,kwh_saved,...,leaf_surface_area_in_sq_ft,address,street,side,site,council_district,latitude,longitude,site_id,geocoded_column
33,Buffalo,CELTIS OCCIDENTALIS,HACKBERRY,6.0,114.63,1.54,192.31,11.38,41.22,54.10,...,118.31,69,Huntley Rd,Front,1.0,University,42.945414,-78.800896,77541,"(42.9454144899556, -78.8008957456138)"
181,Buffalo,ACER RUBRUM,"MAPLE, RED",13.0,109.20,4.17,521.01,17.16,53.70,81.54,...,83.22,136,Goethe St,Front,1.0,Lovejoy,42.888947,-78.800065,110642,"(42.8889465392573, -78.8000645907068)"
182,Buffalo,MALUS SPP,CRABAPPLE,2.0,13.38,0.17,21.55,0.93,4.05,4.43,...,15.09,91,Ogden St South,Front,1.0,Lovejoy,42.863747,-78.802133,90078,"(42.8637472047519, -78.8021333983686)"
234,Buffalo,CELTIS OCCIDENTALIS,HACKBERRY,4.0,96.55,2.28,285.45,103.36,29.41,36.20,...,101.84,823,Busti Av,Rear,1.0,Niagara,42.906447,-78.898787,43993,"(42.9064474448, -78.8987871014699)"
341,Buffalo,ACER SACCHARINUM,"MAPLE, SILVER",30.0,180.18,12.17,1521.79,36.85,111.56,175.16,...,88.39,25,Knox Av,Front,1.0,Delaware,42.943288,-78.866926,67906,"(42.9432880874211, -78.8669259155541)"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
990,Buffalo,PICEA PUNGENS,"SPRUCE, COLORADO BLUE",5.0,36.39,1.07,133.94,2.67,8.84,12.68,...,43.50,74,University Av,Front,1.0,University,42.955113,-78.825194,71449,"(42.955113267466, -78.8251939721567)"
992,Buffalo,ACER PLATANOIDES,"MAPLE, NORWAY",10.0,74.28,2.02,252.67,10.62,36.85,50.48,...,57.41,72,Middlesex Rd,Front,1.0,Delaware,42.937672,-78.865172,52094,"(42.9376720868836, -78.8651717603883)"
995,Buffalo,Ulmus x spp. 'New Horizon',New Horizon Elm,2.0,62.17,1.07,133.51,18.84,4.97,6.60,...,91.95,61,Brantford Pl,Front,1.0,Delaware,42.924084,-78.873839,50082,"(42.9240841946913, -78.8738387420234)"
997,Buffalo,TILIA CORDATA,"LINDEN, LITTLELEAF",20.0,126.42,13.08,1635.49,268.76,73.31,109.04,...,46.82,501,Lisbon Av,Front,1.0,University,42.946611,-78.809766,76101,"(42.9466111004, -78.8097663939)"
998,Buffalo,PLATANUS X ACERIFOLIA 'BLOODGOOD',"LONDON PLANETREE, BLOODGOOD",2.0,31.63,0.62,77.57,12.62,3.60,4.42,...,44.60,33,Montrose Av,Front,1.0,University,42.955066,-78.826279,68718,"(42.9550663827064, -78.8262789563543)"

In [114]:
# Reset the index of the DataFrame
df.reset_index(inplace=True)

# Check the number of missing values in each row
missing_values_count = df.isna().sum(axis=1)
missing_values_count

0      0
1      0
2      0
3      0
4      0
      ..
311    0
312    0
313    0
314    0
315    0
Length: 316, dtype: int64

In [115]:
df

,index,editing,botanical_name,common_name,dbh,total_yearly_eco_benefits,stormwater_benefits,stormwater_gallons_saved,co2_avoided_in_lbs,energy_benefits,...,leaf_surface_area_in_sq_ft,address,street,side,site,council_district,latitude,longitude,site_id,geocoded_column
0,33,Buffalo,CELTIS OCCIDENTALIS,HACKBERRY,6.0,114.63,1.54,192.31,11.38,41.22,...,118.31,69,Huntley Rd,Front,1.0,University,42.945414,-78.800896,77541,"(42.9454144899556, -78.8008957456138)"
1,181,Buffalo,ACER RUBRUM,"MAPLE, RED",13.0,109.20,4.17,521.01,17.16,53.70,...,83.22,136,Goethe St,Front,1.0,Lovejoy,42.888947,-78.800065,110642,"(42.8889465392573, -78.8000645907068)"
2,182,Buffalo,MALUS SPP,CRABAPPLE,2.0,13.38,0.17,21.55,0.93,4.05,...,15.09,91,Ogden St South,Front,1.0,Lovejoy,42.863747,-78.802133,90078,"(42.8637472047519, -78.8021333983686)"
3,234,Buffalo,CELTIS OCCIDENTALIS,HACKBERRY,4.0,96.55,2.28,285.45,103.36,29.41,...,101.84,823,Busti Av,Rear,1.0,Niagara,42.906447,-78.898787,43993,"(42.9064474448, -78.8987871014699)"
4,341,Buffalo,ACER SACCHARINUM,"MAPLE, SILVER",30.0,180.18,12.17,1521.79,36.85,111.56,...,88.39,25,Knox Av,Front,1.0,Delaware,42.943288,-78.866926,67906,"(42.9432880874211, -78.8669259155541)"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
311,990,Buffalo,PICEA PUNGENS,"SPRUCE, COLORADO BLUE",5.0,36.39,1.07,133.94,2.67,8.84,...,43.50,74,University Av,Front,1.0,University,42.955113,-78.825194,71449,"(42.955113267466, -78.8251939721567)"
312,992,Buffalo,ACER PLATANOIDES,"MAPLE, NORWAY",10.0,74.28,2.02,252.67,10.62,36.85,...,57.41,72,Middlesex Rd,Front,1.0,Delaware,42.937672,-78.865172,52094,"(42.9376720868836, -78.8651717603883)"
313,995,Buffalo,Ulmus x spp. 'New Horizon',New Horizon Elm,2.0,62.17,1.07,133.51,18.84,4.97,...,91.95,61,Brantford Pl,Front,1.0,Delaware,42.924084,-78.873839,50082,"(42.9240841946913, -78.8738387420234)"
314,997,Buffalo,TILIA CORDATA,"LINDEN, LITTLELEAF",20.0,126.42,13.08,1635.49,268.76,73.31,...,46.82,501,Lisbon Av,Front,1.0,University,42.946611,-78.809766,76101,"(42.9466111004, -78.8097663939)"
315,998,Buffalo,PLATANUS X ACERIFOLIA 'BLOODGOOD',"LONDON PLANETREE, BLOODGOOD",2.0,31.63,0.62,77.57,12.62,3.60,...,44.60,33,Montrose Av,Front,1.0,University,42.955066,-78.826279,68718,"(42.9550663827064, -78.8262789563543)"

In [116]:
# The target variable is Common Name
target = "common_name"

# Load the Boston Housing dataset
X = df.drop([target,"index", "geocoded_column","editing", "street", "side", "latitude",	"longitude", "site_id"], axis = 1)
y = df[target]
X

,botanical_name,dbh,total_yearly_eco_benefits,stormwater_benefits,stormwater_gallons_saved,co2_avoided_in_lbs,energy_benefits,kwh_saved,therms_saved,air_quality_benefits,property_benefits,leaf_surface_area_in_sq_ft,address,site,council_district
0,CELTIS OCCIDENTALIS,6.0,114.63,1.54,192.31,11.38,41.22,54.10,23.89,0.63,71.18,118.31,69,1.0,University
1,ACER RUBRUM,13.0,109.20,4.17,521.01,17.16,53.70,81.54,30.03,1.18,50.07,83.22,136,1.0,Lovejoy
2,MALUS SPP,2.0,13.38,0.17,21.55,0.93,4.05,4.43,2.43,0.08,9.08,15.09,91,1.0,Lovejoy
3,CELTIS OCCIDENTALIS,4.0,96.55,2.28,285.45,103.36,29.41,36.20,17.29,3.15,61.28,101.84,823,1.0,Niagara
4,ACER SACCHARINUM,30.0,180.18,12.17,1521.79,36.85,111.56,175.16,61.80,3.07,53.19,88.39,25,1.0,Delaware
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
311,PICEA PUNGENS,5.0,36.39,1.07,133.94,2.67,8.84,12.68,5.02,0.30,26.17,43.50,74,1.0,University
312,ACER PLATANOIDES,10.0,74.28,2.02,252.67,10.62,36.85,50.48,21.15,0.80,34.55,57.41,72,1.0,Delaware
313,Ulmus x spp. 'New Horizon',2.0,62.17,1.07,133.51,18.84,4.97,6.60,2.88,0.70,55.32,91.95,61,1.0,Delaware
314,TILIA CORDATA,20.0,126.42,13.08,1635.49,268.76,73.31,109.04,41.21,10.88,28.17,46.82,501,1.0,University
315,PLATANUS X ACERIFOLIA 'BLOODGOOD',2.0,31.63,0.62,77.57,12.62,3.60,4.42,2.12,0.51,26.83,44.60,33,1.0,University

In [117]:
y

0                        HACKBERRY
1                       MAPLE, RED
2                        CRABAPPLE
3                        HACKBERRY
4                    MAPLE, SILVER
                  ...
311          SPRUCE, COLORADO BLUE
312                  MAPLE, NORWAY
313                New Horizon Elm
314             LINDEN, LITTLELEAF
315    LONDON PLANETREE, BLOODGOOD
Name: common_name, Length: 316, dtype: object

In [118]:
# Find all the categorical string columns in the dataframe
categorical_cols = X.select_dtypes(include='object').columns
categorical_cols

Index(['botanical_name', 'council_district'], dtype='object')

In [119]:
# Convert the categorical string columns to numerical data using get_dummies
df_numerical = pd.get_dummies(X, columns=categorical_cols)
df_numerical

,dbh,total_yearly_eco_benefits,stormwater_benefits,stormwater_gallons_saved,co2_avoided_in_lbs,energy_benefits,kwh_saved,therms_saved,air_quality_benefits,property_benefits,...,botanical_name_ULMUS GLABRA,botanical_name_ULMUS PUMILA,botanical_name_ULMUS SPP,botanical_name_Ulmus x spp. 'New Horizon',botanical_name_ZELKOVA SERRATA 'VILLAGE GREEN',council_district_Delaware,council_district_Lovejoy,council_district_Niagara,council_district_South,council_district_University
0,6.0,114.63,1.54,192.31,11.38,41.22,54.10,23.89,0.63,71.18,...,0,0,0,0,0,0,0,0,0,1
1,13.0,109.20,4.17,521.01,17.16,53.70,81.54,30.03,1.18,50.07,...,0,0,0,0,0,0,1,0,0,0
2,2.0,13.38,0.17,21.55,0.93,4.05,4.43,2.43,0.08,9.08,...,0,0,0,0,0,0,1,0,0,0
3,4.0,96.55,2.28,285.45,103.36,29.41,36.20,17.29,3.15,61.28,...,0,0,0,0,0,0,0,1,0,0
4,30.0,180.18,12.17,1521.79,36.85,111.56,175.16,61.80,3.07,53.19,...,0,0,0,0,0,1,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
311,5.0,36.39,1.07,133.94,2.67,8.84,12.68,5.02,0.30,26.17,...,0,0,0,0,0,0,0,0,0,1
312,10.0,74.28,2.02,252.67,10.62,36.85,50.48,21.15,0.80,34.55,...,0,0,0,0,0,1,0,0,0,0
313,2.0,62.17,1.07,133.51,18.84,4.97,6.60,2.88,0.70,55.32,...,0,0,0,1,0,1,0,0,0,0
314,20.0,126.42,13.08,1635.49,268.76,73.31,109.04,41.21,10.88,28.17,...,0,0,0,0,0,0,0,0,0,1
315,2.0,31.63,0.62,77.57,12.62,3.60,4.42,2.12,0.51,26.83,...,0,0,0,0,0,0,0,0,0,1

In [120]:
# Combine the numerical columns with the original numerical columns
df_final = pd.concat([df_numerical, X[X.columns.difference(categorical_cols)]], axis=1)
df_final

,dbh,total_yearly_eco_benefits,stormwater_benefits,stormwater_gallons_saved,co2_avoided_in_lbs,energy_benefits,kwh_saved,therms_saved,air_quality_benefits,property_benefits,...,dbh,energy_benefits,kwh_saved,leaf_surface_area_in_sq_ft,property_benefits,site,stormwater_benefits,stormwater_gallons_saved,therms_saved,total_yearly_eco_benefits
0,6.0,114.63,1.54,192.31,11.38,41.22,54.10,23.89,0.63,71.18,...,6.0,41.22,54.10,118.31,71.18,1.0,1.54,192.31,23.89,114.63
1,13.0,109.20,4.17,521.01,17.16,53.70,81.54,30.03,1.18,50.07,...,13.0,53.70,81.54,83.22,50.07,1.0,4.17,521.01,30.03,109.20
2,2.0,13.38,0.17,21.55,0.93,4.05,4.43,2.43,0.08,9.08,...,2.0,4.05,4.43,15.09,9.08,1.0,0.17,21.55,2.43,13.38
3,4.0,96.55,2.28,285.45,103.36,29.41,36.20,17.29,3.15,61.28,...,4.0,29.41,36.20,101.84,61.28,1.0,2.28,285.45,17.29,96.55
4,30.0,180.18,12.17,1521.79,36.85,111.56,175.16,61.80,3.07,53.19,...,30.0,111.56,175.16,88.39,53.19,1.0,12.17,1521.79,61.80,180.18
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
311,5.0,36.39,1.07,133.94,2.67,8.84,12.68,5.02,0.30,26.17,...,5.0,8.84,12.68,43.50,26.17,1.0,1.07,133.94,5.02,36.39
312,10.0,74.28,2.02,252.67,10.62,36.85,50.48,21.15,0.80,34.55,...,10.0,36.85,50.48,57.41,34.55,1.0,2.02,252.67,21.15,74.28
313,2.0,62.17,1.07,133.51,18.84,4.97,6.60,2.88,0.70,55.32,...,2.0,4.97,6.60,91.95,55.32,1.0,1.07,133.51,2.88,62.17
314,20.0,126.42,13.08,1635.49,268.76,73.31,109.04,41.21,10.88,28.17,...,20.0,73.31,109.04,46.82,28.17,1.0,13.08,1635.49,41.21,126.42
315,2.0,31.63,0.62,77.57,12.62,3.60,4.42,2.12,0.51,26.83,...,2.0,3.60,4.42,44.60,26.83,1.0,0.62,77.57,2.12,31.63

In [121]:
df_final.columns

Index(['dbh', 'total_yearly_eco_benefits', 'stormwater_benefits',
       'stormwater_gallons_saved', 'co2_avoided_in_lbs', 'energy_benefits',
       'kwh_saved', 'therms_saved', 'air_quality_benefits',
       'property_benefits',
       ...
       'dbh', 'energy_benefits', 'kwh_saved', 'leaf_surface_area_in_sq_ft',
       'property_benefits', 'site', 'stormwater_benefits',
       'stormwater_gallons_saved', 'therms_saved',
       'total_yearly_eco_benefits'],
      dtype='object', length=104)

In [122]:
from sklearn.model_selection import train_test_split


X = df_final

# Split the data into training and testing sets
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2)

display(X_train)
display(X_test)
display(y_train) 
display(y_test)

,dbh,total_yearly_eco_benefits,stormwater_benefits,stormwater_gallons_saved,co2_avoided_in_lbs,energy_benefits,kwh_saved,therms_saved,air_quality_benefits,property_benefits,...,dbh,energy_benefits,kwh_saved,leaf_surface_area_in_sq_ft,property_benefits,site,stormwater_benefits,stormwater_gallons_saved,therms_saved,total_yearly_eco_benefits
291,2.0,14.32,0.21,25.98,1.17,5.02,5.58,3.01,0.09,8.99,...,2.0,5.02,5.58,14.94,8.99,1.0,0.21,25.98,3.01,14.32
38,2.0,11.46,0.17,21.17,0.73,3.02,3.48,1.80,0.06,8.22,...,2.0,3.02,3.48,13.65,8.22,1.0,0.17,21.17,1.80,11.46
30,13.0,102.07,3.01,376.46,16.44,50.83,78.16,28.33,1.16,46.97,...,13.0,50.83,78.16,78.06,46.97,1.0,3.01,376.46,28.33,102.07
72,4.0,22.36,0.48,59.78,2.79,11.29,13.25,6.70,0.22,10.36,...,4.0,11.29,13.25,17.22,10.36,1.0,0.48,59.78,6.70,22.36
78,15.0,120.59,3.67,459.00,20.33,60.16,96.61,33.11,1.40,55.25,...,15.0,60.16,96.61,91.83,55.25,1.0,3.67,459.00,33.11,120.59
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
118,6.0,122.32,4.22,527.47,154.48,41.22,54.10,23.89,5.03,71.18,...,6.0,41.22,54.10,118.31,71.18,1.0,4.22,527.47,23.89,122.32
88,1.0,8.21,0.09,11.69,0.51,2.30,2.44,1.39,0.04,5.77,...,1.0,2.30,2.44,9.58,5.77,1.0,0.09,11.69,1.39,8.21
233,3.0,61.27,1.58,197.38,22.74,6.79,7.96,4.03,0.94,51.82,...,3.0,6.79,7.96,86.12,51.82,1.0,1.58,197.38,4.03,61.27
285,18.0,164.22,5.51,689.24,21.98,67.63,104.47,37.64,1.57,89.39,...,18.0,67.63,104.47,148.57,89.39,1.0,5.51,689.24,37.64,164.22
222,9.0,160.19,7.36,920.10,231.99,58.00,81.25,33.11,7.93,85.86,...,9.0,58.00,81.25,142.71,85.86,1.0,7.36,920.10,33.11,160.19

,dbh,total_yearly_eco_benefits,stormwater_benefits,stormwater_gallons_saved,co2_avoided_in_lbs,energy_benefits,kwh_saved,therms_saved,air_quality_benefits,property_benefits,...,dbh,energy_benefits,kwh_saved,leaf_surface_area_in_sq_ft,property_benefits,site,stormwater_benefits,stormwater_gallons_saved,therms_saved,total_yearly_eco_benefits
32,3.0,20.06,0.94,117.61,26.89,8.16,9.42,4.86,1.15,9.67,...,3.0,8.16,9.42,16.08,9.67,2.0,0.94,117.61,4.86,20.06
229,18.0,146.53,4.88,610.21,22.56,69.89,107.24,38.97,1.70,69.91,...,18.0,69.89,107.24,116.19,69.91,1.0,4.88,610.21,38.97,146.53
9,15.0,110.52,8.77,1096.23,224.83,55.61,91.22,30.42,7.98,37.14,...,15.0,55.61,91.22,61.73,37.14,1.0,8.77,1096.23,30.42,110.52
5,4.0,73.48,0.85,106.75,3.09,10.56,14.70,6.04,0.21,61.84,...,4.0,10.56,14.70,102.77,61.84,1.0,0.85,106.75,6.04,73.48
18,43.0,384.34,18.16,2270.60,47.39,132.94,225.26,72.00,4.13,228.58,...,43.0,132.94,225.26,379.89,228.58,1.0,18.16,2270.60,72.00,384.34
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
96,15.0,174.40,5.80,724.83,29.84,86.94,141.81,47.64,2.04,79.50,...,15.0,86.94,141.81,132.13,79.50,1.0,5.80,724.83,47.64,174.40
304,20.0,108.55,5.26,657.95,22.94,73.31,109.04,41.21,1.72,28.17,...,20.0,73.31,109.04,46.82,28.17,1.0,5.26,657.95,41.21,108.55
274,12.0,92.81,2.68,335.20,14.50,46.18,68.93,25.94,1.04,42.83,...,12.0,46.18,68.93,71.18,42.83,1.0,2.68,335.20,25.94,92.81
185,2.0,15.20,0.52,64.58,13.76,5.02,5.58,3.01,0.60,8.99,...,2.0,5.02,5.58,14.94,8.99,8.0,0.52,64.58,3.01,15.20
136,43.0,254.74,46.81,5851.73,566.85,135.96,229.99,73.68,25.49,44.08,...,43.0,135.96,229.99,73.27,44.08,1.0,46.81,5851.73,73.68,254.74

291            LILAC, JAPANESE TREE
38                  MAPLE, JAPANESE
30                    MAPLE, NORWAY
72         SERVICEBERRY, ROBIN HILL
78                    MAPLE, NORWAY
                   ...
118                       HACKBERRY
88                  CHERRY, SPECIES
233    JAPANESE PAGODATREE 'REGENT'
285                 LINDEN, CRIMEAN
222            KENTUCKY COFFEE TREE
Name: common_name, Length: 252, dtype: object

32            LILAC, IVORY SILK
229               MAPLE, NORWAY
9            LINDEN, LITTLELEAF
5                  ELM, SPECIES
18               MAPLE, FREEMAN
                 ...
96                  HONEYLOCUST
304          LINDEN, LITTLELEAF
274    MAPLE, DEBORAH SCHWEDLER
185        LILAC, JAPANESE TREE
136               MAPLE, SILVER
Name: common_name, Length: 64, dtype: object

In [123]:
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import accuracy_score
from sklearn.preprocessing import StandardScaler

scaler = StandardScaler()
X_train_scaled = scaler.fit_transform(X_train)
X_test_scaled = scaler.transform(X_test)

# Train the classifier
lr = LogisticRegression(multi_class='ovr', solver='lbfgs')
lr.fit(X_train_scaled, y_train)

# Make predictions on the testing set
y_pred = lr.predict(X_test_scaled)

# Evaluate the classifier's accuracy
accuracy = accuracy_score(y_test, y_pred)
print("Test Accuracy is: {:.2f}% for Logistic Regression".format(accuracy * 100))

Test Accuracy is: 90.62% for Logistic Regression

In [124]:
from sklearn import svm

# Train the classifier
svc = svm.SVC(kernel='linear')
svc.fit(X_train_scaled, y_train)

# Make predictions on the testing set
y_pred = svc.predict(X_test_scaled)

# Evaluate the classifier's accuracy
accuracy = accuracy_score(y_test, y_pred)
print("Test Accuracy is: {:.2f}% for SVM".format(accuracy * 100))

Test Accuracy is: 90.62% for SVM

In [125]:
from sklearn import tree

# Train the classifier
dtc = tree.DecisionTreeClassifier()
dtc.fit(X_train_scaled, y_train)

# Make predictions on the testing set
y_pred = dtc.predict(X_test_scaled)

# Evaluate the classifier's accuracy
accuracy = accuracy_score(y_test, y_pred)
print("Test Accuracy is: {:.2f}% for Decision Tree Classifier".format(accuracy * 100))

Test Accuracy is: 85.94% for Decision Tree Classifier